.action-button {
  position: absolute;
  user-select: none;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  color: rgba(255, 255, 255, 0.9);
}

.action-button > svg {
  width: 55%;
  height: 55%;
}
